body{

    background: #62D1FC;
    font-family: Montserrat, "sans-serif";
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    color: #001C28;
    margin: 60px 60px 0px 55px;
    
    }
    
    
    .connexion_container{
    
    background: #8DEAFC;
    display: flex;
    width: 95%;
    flex-direction: column;
    align-self: center;
    border: 1px solid #015B87;
    border-radius: 8px;
    padding: 0 50px 0 50px;
   
    
    }
    
    
    h1 {
    
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    
    }
    
    
    p {
        
    font-weight: 300;
    text-align: center;
    
    }
    
    
    form div {
        
    min-height: 63px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        
    }
    
    
    form input {
    
    height: 30px;
    border: 1px solid #049AD2;
    border-radius: 6px;
    padding-left: 5px;
    
    }
    
    
    form label {
       
    margin-bottom: 7px;
    font-weight: 800;
    font-size: 18px;
        
    }
    
    
    .connexion_btn{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    }
    
    
    form button {
    
        width: 115px;
        max-width: 165px;
        height: 45px;
        font-weight: 500;
        font-size: 18px;
        background: #D8FFFF;
        border: #40C1FF solid 1px;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px #40C1FF;
        color: #0491C6;
        
    }


    .connexion_bottom{

        display: flex;
        border: 1px solid black;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 25px;




    }

    .connexion_deco{

        display: flex;
        justify-content: center;
        align-content: center;



    }



/* ************ MEDIA QUERIES ************ */


/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */
@media screen and (min-width: 1200px) {

    .connexion_container{
    
        background: #8DEAFC;
        display: flex;
        width: 30%;
        flex-direction: column;
        border: 1px solid #015B87;
        border-radius: 8px;
        padding: 0 50px 0 50px;
       
        
        }
        
        form input {
    
            height: 30px;
            width: 70%;
            border: 1px solid #049AD2;
            border-radius: 6px;
            padding-left: 5px;
            
            }
            

   
    
    
}






/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all and (min-width: 1024px) and (max-width: 1280px)

/* Sur les téléviseurs */
@media tv

/* Sur tous types d'écrans orientés verticalement */
@media all and (orientation: portrait)