body{
    background-color: #62d1fc;
}
.register-spacing{
    letter-spacing: 3px;
}
/* font police */
@font-face {
    font-family: 'xbonesregular';
    src: url('../fonts/xbones-webfont.woff2') format('woff2'),
         url('../fonts/xbones-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.font-xbones{
    font-family: 'xbonesregular';
}