.skull-size{
    font-size: 50px;
}
.presentation-titre{
    text-align: center;
}
.presentation-texte{
    text-align: center;
}
.presentation-personne-image img {
    border-radius: 10px;
    width: 130px;
}
.jeux-container .description-jeux{
	opacity: 0;
}
.jeux-container:hover .description-jeux{
	opacity : 1;
	border-radius: 2px;
	transition: opacity 0.8s, height 0.8s;
}
/* hover jeux */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");


.jeux-container {
	display: flex;
	flex-direction: column;
	align-items: center;
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.jeux-container:hover {
	cursor: pointer;
}

.jeux-container img {
	filter: grayscale();
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 6px solid whitesmoke;
	box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
	margin-bottom: 1rem;
	transition: filter 0.4s ease-in-out;
}

.jeux-container:hover img {
	filter: none;
}

.jeux-title {
	font-family: "Dancing Script", cursive;
	font-size: 2rem;
	color: whitesmoke;
	position: relative;
    margin-top: 0;
}

.jeux-title::after {
	position: absolute;
	content: "";
	width: 0%;
	height: 4px;
	background-color: whitesmoke;
	left: 50%;
	bottom: -10px;
	transition: all 0.4s ease-in-out;
}

.jeux-container:hover .jeux-title::after {
	width: 100%;
	left: 0;
}
a{
	text-decoration: none;
}
@media screen and (min-width:860px) {
    .jeux-hr{
        display: none;
    }
}