
/* CSS A CORRIGER POUR IMPLANTATION DANS INDEX.CSS */
*{

    margin: 0;
    padding: 0;
    list-style: none;
    
    
    
}
/* FIN CODE A CORRIGER */

.bottom_container{

    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    justify-content: center;

}


.nc_container{

    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
    


}

.nc_text{

    text-align: justify;

}

/* News du site*/

.nc_news{

    width: 48%;
    background-color: #A3A3A3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   


}




.nc_blocnews{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
    background-color: #F5F5F5;
    border-radius: 6px;


}



.nc_bloctxt{

width: 80%;
display: flex;
margin: 30px;
padding: 5px;


}






/*Classement du site*/


.nc_classement{

    width: 48%;
    background-color: #A3A3A3;   
    display: flex;
    flex-direction: column;
  
    
}

.classement_container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #A3A3A3;
    width: 100%;
    
    
}

.classement_leaderbord{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: #F2F2F2;
    width: 96%;
    height: 70px;
    margin: 20px;
    border-radius: 6px;
    
    
}


/***** leaderbord left*****/


.classement_user{

      
    display: flex;
    justify-content: space-evenly;
    height: 65px;
    width: 44%;
    margin: 2px;

}


.classement_blocavatar{

   
    display: flex;
    justify-content: center;
    width: 30%;
    height: 60px;
    margin: 3px;

    
}


.classement_cadravatar{

    
    display: flex;
    justify-content: center;
    width: 100%;
    height: 55px;
    margin: 3px;
    
}

.classement_avatar{

    border-radius: 50px;
    margin: 2px;



}


.classement_blocpseudo{

    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60px;
    margin: 2px;



}


.classement_pseudo{

    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    height: 55px;
    margin: 2px;


}

.classement-name{

    font-weight: bold;
    font-size: 1.1em;
    font-family: 'Merriweather Sans', sans-serif;




}



.classement_blocrank{

    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 60px;
    margin: 2px;




}



.classement_rank{

    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 55px;
    margin: 2px;


}


.classement-rank1{

    font-weight: bold;
    font-size: 1.1em;
    font-family: 'Merriweather Sans', sans-serif;


}



/***** leaderbord right*****/



.classement_cadrinfo{

    display: flex;
    justify-content: space-evenly;
    height: 65px;
    width: 85%;
    margin: 2px;

}

.classement_point{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin: 2px;



}


.classement_piecesor{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /*margin: 2px;*/



}

.classement_pieceqte{

    font-weight: bold;
    font-size: 1.1em;
    font-family: 'Merriweather Sans', sans-serif;


}


.classement_po{

text-align: center;
font-family: 'Merriweather Sans', sans-serif;



}




/***** Bloc jeu icone ****/

.classement_jeu{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5px;


}


.classement_blocjeu{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-right: 2px;
 
}


.classement_cadrejeu{

    width: 100%;
  
}


.classement_jeu{

    
    display: flex;
    width: 100%;
    padding-right: 4px;
   
}





/* ---- Footer ---- */


.footer_container{

    width: 100%;
    display: flex;
    background-color: #A3A3A3;
    border: 1px solid black;
    display: flex;
    margin-top: 20px;
    

}



.footer_blocdroit{

width: 100%;
margin: 20px;



}


.footer_titrebloc1{

display: flex;
justify-content: center;
margin: 50px;

}





/************ formulaire contact *****/

.footer_formbloc{

border: 1px solid red;
display: flex;
justify-content: space-evenly;


}


.footer_formulaire{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border: 1px solid green;



}




.formpart{

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
    
    
    }

    
    
input{
    
    width: 400px;
    height: 25px;
    overflow: visible;
    padding: 0 35px;
    display: flex;
    
    
    
}
    
 
       

.form_champ{

    border-radius: 31px; 
    background-color: #F5F5F5; 
    height: 40px;
    font-family: Ubuntu-Bold;
    font-size: 18px;
    color: #8f8fa1;
    line-height: 1.2;
    padding: 5px 25px 0;
    outline: none;
    border: none;
   
}



    
.form_txt{

    display: flex;
    font-family: Ubuntu-Bold;
    font-size: 18px;
    color: #8f8fa1;
    line-height: 1.2;
    min-height: 169px;
    padding: 10px 25px 0;
}


    
 
textarea {
    overflow: auto;
    resize: vertical;
}